@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trade Ideas</h1>
    <p class="lead">Trade ideas is an api endpoint for users to save and view their trade ideas</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register for an account to begin uploading ideas.  Use the TradeApp also on Github to automatically upload ideas using an automated scanner.
        </p>
    </div>
</div>